<!DOCTYPE html>
<html>
<head>
    <title>Drupal Theme</title>
    <link rel="stylesheet" href="animate.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="materialize.css">
</head>
<body>
        <div class="navbar topbar grey darken-4 z-depth-2 white-text">
            <div class="left">
                    <div class="logo">FLAT!X</div>
            </div>
            <div class="right">
                <a href="#!">Home</a>
            </div>
        </div>
    <header class="grey" role="navigation">
        <h1 class="white-text animated fadeIn slow">FLAT!X</h1>
        <h5 class="white-text animated fadeIn delay-1s">A material theme for Drupal 8</h5>
        <div>
            <a href="#" class="header-button yellow z-depth-3 animated fadeInLeft">What is Drupal?</a>
            <a href="#" class="header-button yellow z-depth-3 animated fadeIn slow">Download this theme</a>
            <a href="#" class="header-button yellow z-depth-3 animated fadeInRight">Make my own theme!</a>
        </div>
    </header>
    <main class="grey darken-2" role="main">
        {{ page.content }}
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, aliquam. Totam laudantium corporis rem fugit molestias quae tempore! Reprehenderit sapiente nihil quod vitae optio ipsa similique aperiam, veniam hic autem culpa, ullam quae, sed itaque dolorem laboriosam rerum facilis. Voluptatibus eaque dolores doloremque at nam. Cumque architecto, quasi aliquid veniam consequatur est molestias voluptatibus provident unde autem non pariatur perferendis aliquam qui debitis fugiat officia similique porro sint nesciunt saepe! Tenetur eum odio facere, non sint possimus accusantium rerum corporis. Quibusdam illum numquam maiores facilis iure voluptates illo minima cumque, eligendi eum inventore alias molestiae voluptatem nesciunt ad, dolorum sapiente. <blockquote>Libero similique, sequi, sit exercitationem fugiat incidunt aut ad tempora sunt dolorum asperiores possimus corrupti non illum. Quae magnam quaerat rerum, deserunt repudiandae sit. Rem inventore doloribus nulla modi corporis eaque sapiente numquam ut beatae, consectetur suscipit delectus error iste laudantium ea nam quae autem repellat, placeat dolor ducimus! Illo repellat culpa nisi ipsum dignissimos numquam deleniti, atque molestias qui in perspiciatis itaque est sapiente obcaecati rerum eligendi cumque tenetur aperiam corrupti! </blockquote>Deleniti ut unde, quidem praesentium animi nobis facilis, vitae sapiente magnam debitis laboriosam error quibusdam cupiditate ipsa, odit alias architecto iusto officia molestias vero veniam incidunt rerum earum.</p>
    </main>
    <div class="panel-bottom">
            <h3>
                Be more productive with
            </h3>
            <h1 style="font-family: catamaran-medium; font-size: 150px; font-weight: 700;" class="blue-text">Drupal</h1>
        </div>
    <footer class="center navbar grey darken-4 z-depth-2 grey-text" role="contentinfo">
    <div class="grey darken-4 grey-text">
        {{ page.footer }}
    </div>
        Made with &lt;/&gt; &amp; &lt;3 by Aniket Dwivedi
        <div>Flatix theme 1.0.0</div>
        <table>
                <tr>
                    <td class="center"><a href="#"><p class="instagram icon"></p></a></td>
                    <td class="center"><a href="#"><p class="facebook icon"></p> </a></td>
                    <td class="center"><a href="#"><p class="twitter icon"></p></a></td>
                    <td class="center"><a href="#"><p class="youtube icon"></p></a></td>
                </tr>
            </table>
    </footer>
</body>
</html>
